body {
  background: #fff; }

#pleaseregister {
  display: none;
  z-index: 100;
  position: absolute;
  width: 400px;
  height: 300px;
  background: rgba(0, 0, 0, 0.7);
  border: solid 1px #ccc;
  font-size: 18px;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -150px; }
  #pleaseregister a {
    position: absolute;
    left: 40px;
    top: 120px; }
    #pleaseregister a:hover {
      text-decoration: underline;
      color: red; }
  #pleaseregister .close {
    display: block;
    z-index: 100;
    font-size: 16px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #fff; }

#detailSearchBar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: solid 1px #ccc; }
  #detailSearchBar .lookDetail {
    position: relative;
    margin-left: 43px;
    width: 507px;
    height: 70px; }
  #detailSearchBar .detailSearch {
    width: 582px;
    height: 36px;
    display: flex;
    justify-content: space-between; }
    #detailSearchBar .detailSearch form {
      float: left;
      display: flex;
      justify-content: space-between;
      width: 480px;
      height: 36px;
      background: #fff;
      border: solid 1px #f07;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      #detailSearchBar .detailSearch form #dttxt {
        float: left;
        width: 300px;
        height: 34px;
        border: none;
        padding-left: 15px; }
      #detailSearchBar .detailSearch form #dtbtn {
        float: left;
        width: 100px;
        height: 36px;
        text-align: center;
        line-height: 34px;
        color: #fff;
        font-size: 16px;
        background: #f07;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: none; }
    #detailSearchBar .detailSearch #btnself {
      float: left;
      width: 100px;
      height: 38px;
      text-align: center;
      line-height: 36px;
      color: #fff;
      font-size: 16px;
      background: #f07;
      margin-left: 5px;
      border-radius: 5px;
      border: none;
      margin-right: 40px; }

.showRight {
  z-index: 100;
  position: fixed;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background: #000; }

#bgTab {
  position: relative;
  width: 100%;
  height: 150px;
  boredr: solid 1px red; }
  #bgTab .bgShow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #333; }
    #bgTab .bgShow .bgMessageShow {
      width: 1200px;
      height: 30px;
      margin-left: 53px; }
      #bgTab .bgShow .bgMessageShow li {
        height: 100%;
        float: left; }
        #bgTab .bgShow .bgMessageShow li a {
          display: inline-block;
          height: 14px;
          margin-top: 7px;
          color: #eee;
          padding: 0 20px;
          font-size: 13px;
          border-right: solid 1px #aaa; }

#messageDetail {
  width: 1200px;
  height: 680px;
  margin: 50px 0 30px 33px; }
  #messageDetail .mDlf {
    width: 1058px;
    height: 590px;
    float: left; }
    #messageDetail .mDlf .mDlfImg {
      float: left;
      width: 400px;
      height: 669px; }
      #messageDetail .mDlf .mDlfImg .big_img {
        width: 400px;
        height: 600px; }
      #messageDetail .mDlf .mDlfImg .goodsImg {
        width: 400px;
        margin-top: 10px;
        height: 60px; }
        #messageDetail .mDlf .mDlfImg .goodsImg ul {
          display: flex;
          justify-content: center; }
          #messageDetail .mDlf .mDlfImg .goodsImg ul li {
            float: left;
            margin-left: 10px;
            height: 60px;
            width: 60px;
            opacity: .5;
            filter: alpha(opacity=50); }
            #messageDetail .mDlf .mDlfImg .goodsImg ul li:hover {
              opacity: 1;
              filter: alpha(opacity=100);
              cursor: pointer; }
            #messageDetail .mDlf .mDlfImg .goodsImg ul li img {
              width: 100%;
              height: 100%; }
    #messageDetail .mDlf .mDlfContent {
      float: right;
      width: 600px;
      height: 590px; }
      #messageDetail .mDlf .mDlfContent .detailName {
        width: 528px;
        height: 56px;
        color: #333;
        font-size: 24px;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 15px;
        font-weight: 600; }
      #messageDetail .mDlf .mDlfContent .detailPrice {
        width: 540px;
        height: 96px;
        margin-left: -10px;
        border-bottom: 1px solid #f3f3f3;
        border-top: 1px solid #f3f3f3;
        background: #f6f6f6; }
        #messageDetail .mDlf .mDlfContent .detailPrice .P_look {
          position: relative;
          height: 32px;
          display: flex; }
          #messageDetail .mDlf .mDlfContent .detailPrice .P_look .through {
            text-decoration: line-through; }
          #messageDetail .mDlf .mDlfContent .detailPrice .P_look .noThrough {
            font-size: 16px;
            color: #FF0000; }
          #messageDetail .mDlf .mDlfContent .detailPrice .P_look dt {
            position: absolute;
            width: 36px;
            height: 32px;
            line-height: 32px;
            left: 10px;
            color: #999; }
          #messageDetail .mDlf .mDlfContent .detailPrice .P_look .sale_p {
            width: 48px;
            height: 32px;
            line-height: 32px; }
          #messageDetail .mDlf .mDlfContent .detailPrice .P_look dd {
            float: left;
            line-height: 32px;
            height: 32px;
            color: #999; }
            #messageDetail .mDlf .mDlfContent .detailPrice .P_look dd span {
              font-size: 14px;
              color: #999; }
            #messageDetail .mDlf .mDlfContent .detailPrice .P_look dd .p_number {
              color: #333333;
              margin-left: 5px; }
          #messageDetail .mDlf .mDlfContent .detailPrice .P_look .no_through, #messageDetail .mDlf .mDlfContent .detailPrice .P_look .through {
            margin-left: 70px; }
          #messageDetail .mDlf .mDlfContent .detailPrice .P_look .saleNumber {
            position: absolute;
            right: 10px; }
            #messageDetail .mDlf .mDlfContent .detailPrice .P_look .saleNumber span {
              font-size: 12px; }
            #messageDetail .mDlf .mDlfContent .detailPrice .P_look .saleNumber .p_num {
              margin: 0 10px 0 3px; }
        #messageDetail .mDlf .mDlfContent .detailPrice .detailPriceThree {
          position: relative;
          overflow: hidden;
          height: 33px; }
          #messageDetail .mDlf .mDlfContent .detailPrice .detailPriceThree .store {
            width: 61px;
            height: 33px;
            color: #999;
            float: left;
            line-height: 33px;
            margin-left: 10px; }
          #messageDetail .mDlf .mDlfContent .detailPrice .detailPriceThree .priceyh {
            float: left;
            height: 70px;
            width: 300px;
            margin-left: 5px; }
            #messageDetail .mDlf .mDlfContent .detailPrice .detailPriceThree .priceyh p {
              display: flex;
              justify-content: space-between;
              float: left;
              width: 128px;
              height: 22px;
              line-height: 20px;
              border-radius: 2px;
              margin-right: 5px;
              border: 1px solid #f57;
              box-sizing: border-box;
              margin: 5px 5px;
              padding-left: 5px;
              color: #f57; }
              #messageDetail .mDlf .mDlfContent .detailPrice .detailPriceThree .priceyh p .get {
                width: 30px;
                text-align: center;
                background: #f57; }
                #messageDetail .mDlf .mDlfContent .detailPrice .detailPriceThree .priceyh p .get a {
                  color: #fff; }
          #messageDetail .mDlf .mDlfContent .detailPrice .detailPriceThree .more_good {
            width: 68px;
            height: 33px;
            line-height: 33px;
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 12px;
            color: #666; }
      #messageDetail .mDlf .mDlfContent .customer dl, #messageDetail .mDlf .mDlfContent .wearNumber dl, #messageDetail .mDlf .mDlfContent .wearSize dl, #messageDetail .mDlf .mDlfContent .WearColor dl {
        position: relative;
        width: 537px;
        margin-left: 15px; }
        #messageDetail .mDlf .mDlfContent .customer dl dt, #messageDetail .mDlf .mDlfContent .wearNumber dl dt, #messageDetail .mDlf .mDlfContent .wearSize dl dt, #messageDetail .mDlf .mDlfContent .WearColor dl dt {
          position: absolute;
          width: 36px;
          height: 19px;
          color: #999;
          font-size: 12px; }
        #messageDetail .mDlf .mDlfContent .customer dl dd, #messageDetail .mDlf .mDlfContent .wearNumber dl dd, #messageDetail .mDlf .mDlfContent .wearSize dl dd, #messageDetail .mDlf .mDlfContent .WearColor dl dd {
          width: 537px;
          padding-left: 60px; }
      #messageDetail .mDlf .mDlfContent .customer {
        height: 44px;
        margin-top: 20px; }
      #messageDetail .mDlf .mDlfContent .WearColor {
        height: 69px; }
        #messageDetail .mDlf .mDlfContent .WearColor dd ol {
          position: relative;
          float: left;
          margin-right: 15px;
          width: 45px;
          height: 45px;
          white-space: nowrap;
          word-wrap: normal;
          border: solid 2px transparent;
          cursor: pointer; }
          #messageDetail .mDlf .mDlfContent .WearColor dd ol:hover {
            border-color: red;
            transition: .3s; }
          #messageDetail .mDlf .mDlfContent .WearColor dd ol img {
            width: 100%;
            height: 100%; }
          #messageDetail .mDlf .mDlfContent .WearColor dd ol span {
            width: 20px;
            height: 20px; }
          #messageDetail .mDlf .mDlfContent .WearColor dd ol .col {
            display: none; }
        #messageDetail .mDlf .mDlfContent .WearColor dd .icon-duihao {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 10;
          color: red; }
        #messageDetail .mDlf .mDlfContent .WearColor dd .acShow {
          border-color: red; }
      #messageDetail .mDlf .mDlfContent .wearSize {
        height: 52px; }
        #messageDetail .mDlf .mDlfContent .wearSize dd span {
          cursor: pointer;
          float: left;
          padding: 0 10px;
          font-weight: 700;
          line-height: 28px;
          border: 2px solid #ddd;
          white-space: nowrap;
          word-wrap: normal;
          margin-right: 10px; }
          #messageDetail .mDlf .mDlfContent .wearSize dd span:hover {
            transition: .3s;
            border-color: #555555; }
        #messageDetail .mDlf .mDlfContent .wearSize dd .active {
          border-color: #555555;
          background: red;
          color: #fff; }
      #messageDetail .mDlf .mDlfContent .wearNumber {
        height: 42px; }
        #messageDetail .mDlf .mDlfContent .wearNumber dl dd .addNumber {
          float: left;
          width: 97px;
          height: 25px;
          border: solid 1px #ddd; }
          #messageDetail .mDlf .mDlfContent .wearNumber dl dd .addNumber span {
            float: left;
            width: 24px;
            height: 25px;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            line-height: 25px;
            font-size: 16px;
            -webkit-user-select: none; }
          #messageDetail .mDlf .mDlfContent .wearNumber dl dd .addNumber input {
            width: 44px;
            text-align: center;
            color: #000;
            font-size: 14px;
            border: 0;
            height: 25px;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            float: left;
            background: none; }
        #messageDetail .mDlf .mDlfContent .wearNumber dl dd p {
          float: left;
          width: 69px;
          height: 25px;
          line-height: 25px;
          margin-left: 10px;
          color: #999; }
      #messageDetail .mDlf .mDlfContent .addCart {
        width: 537px;
        height: 75px;
        position: relative; }
        #messageDetail .mDlf .mDlfContent .addCart a {
          display: inline-block;
          width: 200px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 20px;
          margin-right: 5px; }
          #messageDetail .mDlf .mDlfContent .addCart a:nth-child(1) {
            background: #ef2f23;
            color: #fff;
            margin-left: 60px; }
          #messageDetail .mDlf .mDlfContent .addCart a:nth-child(2) {
            color: #333;
            border: 1px solid #ddd; }
        #messageDetail .mDlf .mDlfContent .addCart p {
          z-index: 100;
          position: absolute;
          display: none;
          width: 200px;
          height: 30px;
          color: red;
          top: -35px;
          left: 269px;
          line-height: 30px;
          text-align: center;
          font-size: 16px; }
      #messageDetail .mDlf .mDlfContent .detailShare .wx {
        font-size: 14px; }
        #messageDetail .mDlf .mDlfContent .detailShare .wx .de_collect {
          font-size: 12px;
          margin-left: 5px; }
      #messageDetail .mDlf .mDlfContent .detailShare .jh {
        font-size: 14px;
        color: red; }
        #messageDetail .mDlf .mDlfContent .detailShare .jh .share {
          margin-left: 5px;
          color: #999;
          font-size: 12px; }
      #messageDetail .mDlf .mDlfContent .hasNo {
        display: none;
        width: 600px;
        height: 40px; }
      #messageDetail .mDlf .mDlfContent .detailShare {
        width: 477px;
        height: 26px;
        line-height: 26px;
        margin-bottom: 10px; }
        #messageDetail .mDlf .mDlfContent .detailShare p {
          padding: 0 20px;
          height: 24px;
          line-height: 24px;
          border: 1px solid #ddd;
          border-radius: 24px;
          color: #999;
          float: left;
          cursor: pointer;
          margin-right: 10px;
          font-size: 12px; }
        #messageDetail .mDlf .mDlfContent .detailShare a {
          color: #999; }
      #messageDetail .mDlf .mDlfContent .dePromise {
        height: 36px;
        width: 600px; }
        #messageDetail .mDlf .mDlfContent .dePromise dt {
          float: left;
          width: 60px;
          height: 19px;
          color: #999;
          margin-top: 7px; }
        #messageDetail .mDlf .mDlfContent .dePromise dd {
          float: left;
          display: flex;
          float: left; }
          #messageDetail .mDlf .mDlfContent .dePromise dd p {
            margin-left: 20px;
            color: #999;
            height: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center; }
            #messageDetail .mDlf .mDlfContent .dePromise dd p:first-child {
              margin-left: 0; }
            #messageDetail .mDlf .mDlfContent .dePromise dd p img {
              width: 24px;
              height: 24px; }
      #messageDetail .mDlf .mDlfContent .dePay {
        height: 30px;
        margin-top: 10px;
        display: flex; }
        #messageDetail .mDlf .mDlfContent .dePay .way {
          width: 60px;
          height: 19px;
          color: #999; }
        #messageDetail .mDlf .mDlfContent .dePay .wayImg {
          background: url("https://s10.mogucdn.com/p2/170122/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png") no-repeat;
          background-position: -10px -295px;
          background-repeat: no-repeat;
          overflow: hidden;
          display: block;
          width: 131px;
          height: 20px; }
  #messageDetail .mDrg {
    width: 141px;
    height: 679px;
    border-left: solid 1px #eee;
    float: right;
    position: relative; }
    #messageDetail .mDrg .introrg {
      float: right;
      margin-right: 2px; }
      #messageDetail .mDrg .introrg h2 {
        font-size: 16px;
        color: #999;
        text-align: center;
        width: 120px;
        top: 0;
        background-color: #fff;
        float: right;
        margin-right: 2px; }
        #messageDetail .mDrg .introrg h2 span {
          display: inline-block;
          height: 5px;
          border-top: solid 1px #999;
          width: 10px;
          margin: 0 8px; }
      #messageDetail .mDrg .introrg ul li {
        margin-top: 10px;
        float: right;
        width: 120px;
        height: 207px; }
        #messageDetail .mDrg .introrg ul li a {
          overflow: hidden; }
          #messageDetail .mDrg .introrg ul li a img {
            width: 100%;
            height: 180px; }
          #messageDetail .mDrg .introrg ul li a p {
            height: 22px;
            line-height: 22px;
            text-align: center;
            margin-top: 5px;
            font-size: 14px;
            color: #333; }

#prosessbox {
  width: 100%;
  height: 66px; }
  #prosessbox .proess {
    background: red;
    width: 1200px;
    height: 100%;
    margin-left: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #prosessbox .proess a {
      display: inline-block;
      width: 225px;
      height: 52px; }
    #prosessbox .proess .prosessBar {
      width: 494px;
      height: 65px;
      display: flex;
      align-items: center; }

/*# sourceMappingURL=detail.css.map */
